.about-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.about-title {
  color: #777;
  padding: 40px 0 40px 0;
  font-family: cursive;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-transform: none;
}

.about-photo-wrapper {
  width: 30%;
  height: auto;
}

.about-photo {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/image/me.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}

.about-text {
  width: 60%;
}


.about-paragraph {
  color: #777;
  font-size: 20px;
  margin: 0 0 30px 0;
}